# 課題10
gpsデータの解析

In [35]:
%matplotlib inline
import matplotlib.pyplot as plt
import folium
import pandas as pd
import numpy as np

In [36]:
# fnamer = "log/matsumoto-nagano-100318.log"
fnamer = "log/nagano-matsumoto-100318.log"

with open(fnamer, "r") as f:
    gpgga_list = []
    for i in f.readlines():
        elements = i.split(",")
        if elements[0] == "$GPGGA":
            gpgga_list.append(elements[1:-1])
gpgga_df = pd.DataFrame(gpgga_list, columns=[
    "time", "lat", "NS", "lon", "EW",
    "qu", "satellites", "harr",
    "elev", "elev_m", "geoid", "geoid_m",
    "DGPS"
])
gpgga_df

,time,lat,NS,lon,EW,qu,satellites,harr,elev,elev_m,geoid,geoid_m,DGPS
0,012312,3637.8827,N,13811.4093,E,1,05,02.5,00351.5,M,037.4,M,00
1,012327,3637.8844,N,13811.4088,E,1,05,02.5,00354.3,M,037.4,M,00
2,012342,3637.8847,N,13811.4086,E,1,05,02.5,00360.4,M,037.4,M,00
3,012357,3637.8881,N,13811.4069,E,1,04,06.3,00356.6,M,037.4,M,00
4,012412,3637.8878,N,13811.4047,E,1,05,03.2,00358.6,M,037.4,M,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,030709,3614.3477,N,13758.3616,E,1,08,01.0,00597.8,M,037.4,M,00
405,030724,3614.3345,N,13758.4639,E,1,07,01.2,00599.5,M,037.4,M,00
406,030739,3614.3176,N,13758.5716,E,1,08,01.0,00595.7,M,037.4,M,00
407,030754,3614.3228,N,13758.6188,E,1,07,01.2,00604.5,M,037.4,M,00
408,030809,3614.3223,N,13758.6148,E,1,08,01.0,00601.6,M,037.4,M,00

In [37]:
lat_series = gpgga_df["lat"].astype(float)
print(gpgga_df["lat"])
gpgga_df["lat"] = lat_series % 100
gpgga_df["lat"]

0      3637.8827
1      3637.8844
2      3637.8847
3      3637.8881
4      3637.8878
         ...
404    3614.3477
405    3614.3345
406    3614.3176
407    3614.3228
408    3614.3223
Name: lat, Length: 409, dtype: object

0      37.8827
1      37.8844
2      37.8847
3      37.8881
4      37.8878
        ...
404    14.3477
405    14.3345
406    14.3176
407    14.3228
408    14.3223
Name: lat, Length: 409, dtype: float64