In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import folium
import pandas as pd
import numpy as np

In [10]:
with open("log/matsumoto-nagano-100318.log", "r") as f:
    gpgga_list = []
    for i in f.readlines():
        elements = i.split(",")
        if elements[0] == "$GPGGA":
            gpgga_list.append(elements[1:-1])
gpgga_df = pd.DataFrame(gpgga_list, columns=[
    "time", "lat", "NS", "lon", "EW",
    "qu", "satellites", "harr",
    "elev", "elev_m", "geoid", "geoid_m",
    "DGPS"
])
gpgga_df

,time,lat,NS,lon,EW,qu,satellites,harr,elev,elev_m,geoid,geoid_m,DGPS
0,061959,3614.2227,N,13759.6135,E,1,04,02.2,00613.6,M,037.4,M,00
1,062009,3614.2298,N,13759.5359,E,1,04,02.2,00614.3,M,037.4,M,00
2,062028,3614.2575,N,13759.4495,E,1,04,02.2,00609.0,M,037.4,M,00
3,062043,3614.2540,N,13759.4548,E,1,04,02.2,00604.8,M,037.4,M,00
4,062058,3614.2429,N,13759.4589,E,1,04,02.2,00579.1,M,037.4,M,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,074053,3632.8942,N,13807.8498,E,1,07,01.4,00384.2,M,037.4,M,00
291,074108,3632.9447,N,13807.9225,E,1,09,01.2,00383.0,M,037.4,M,00
292,074123,3632.9938,N,13808.0422,E,1,08,01.2,00382.9,M,037.4,M,00
293,074138,3633.0934,N,13808.1286,E,1,08,01.7,00381.0,M,037.4,M,00
294,074153,3633.1966,N,13808.2009,E,1,08,01.7,00380.2,M,037.4,M,00